body {
    background:  #ffdac1;
}

.encabezado {
    width: 90%;
    margin: auto;
}

.logo {
    margin-top: 40px;
}

.main {
    width: 85%;
    display: flex;
    margin: auto 40px auto auto;
    min-height: calc(100vh - 91px - 72px);
    align-items: end;
}

.ladoizquierdo {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alertaTexto {
    display: inline-block;
}

.botonesIzquierdo {

}

.btn-encriptar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
}

.btn-desencriptar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
}
.areadetextear {
    width: 80%;
    font-size: 18px;
    color: #ffb7b2;
    background: none;
    resize: none;
    border: none;
    outline: none;
}

.areadetextear::placeholder {
    color: #ff9aa2;
}

.ladoderecho {
    width: 400px;
    height: calc(100% + 48px);
}

footer {
    height: 50px;
}
@media screen and (max-width: 770px) {
    .main {
        flex-direction: column;
    }

    .ladoderecho {
        max-width: 100%;
    }
}